:root{
    --white: #FDFFFC;
   --blue:  #235789;
   --red: #C1292E;
   --yellow: #F1D302;
   --black: #020100;

   --fun-font: '', sans-serif;
   --title-font: 'Russia', sans-serif;
   --main-font: '', sans-serif;
}
@font-face {
        font-family: 'Russia';
    src: url('fontsfolder/Russian.ttf');
}


body{  
  color: var(--blue);
  font-family: var(--title-font);

}

p{
    color: var(--red)
}

header{

   font-family: var(--title-font);  
   /* background image */
    /* borders */
    /* width 100/50/30 */

}

   
nav{
   display: flex;
   justify-content: center;
    text-align: center;
    background-color: var(--blue);
    font-size: 40px;
    font-family: var(--title-font);
}

aside{
    background-color: var(--yellow);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



